/* FONTS */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
}
/* CUSTOM PROPS */
:root {
  --black: #000000;
  --white: #ffffff;
  --half-white: #ffffff85;
  --gray: #000000;
  --blue: #0f0f54;
  --light: #f9e0c7;
  --lighter-gray: #f8f8f8;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--black);
  outline-offset: 3px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  background: url("../images/desktop-line.png") repeat-y center;
  overflow-x: hidden;
}
@media only screen and (max-width: 576px) {
  body {
    background-image: url("../images/line-mobile.png");
  }
}

/* CONTAINER */
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN */
.main-content {
  flex-grow: 1;
  padding: 90px 0 106px;
}
@media only screen and (max-width: 992px) {
  .main-content {
    padding: 60px 0 80px;
  }
}
@media only screen and (max-width: 768px) {
  .main-content {
    padding: 40px 0 60px;
  }
}
@media only screen and (max-width: 576px) {
  .main-content {
    padding: 20px 0 40px;
  }
}

/* BUTTON */
.button {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 18px 40px;
  color: var(--white);
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
@media only screen and (max-width: 992px) {
  .button {
    padding: 16px 36px;
    font-size: 19px;
  }
}
@media only screen and (max-width: 768px) {
  .button {
    padding: 14px 30px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .button {
    padding: 12px 24px;
    font-size: 16px;
  }
}

/* LOGO */
.logo {
  display: inline-flex;
}

.logo__img {
  max-width: 130px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 400px) {
  .logo__img {
    max-width: 115px;
  }
}

.site-header {
  padding: 60px 0;
  transition: padding 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .site-header {
    padding: 45px 0;
  }
}
@media only screen and (max-width: 768px) {
  .site-header {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 576px) {
  .site-header {
    padding: 15px 0;
  }
}

/* HERO */
.hero::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 90px;
  background: url("../images/star.svg") no-repeat center/contain;
  position: absolute;
  bottom: 50px;
  right: 15%;
}
@media only screen and (max-width: 992px) {
  .hero::after {
    right: 30px;
    width: 75px;
    height: 75px;
    bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .hero::after {
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
}

.hero__inner {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.hero__inner::before {
  content: "";
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url("../images/triangle.svg") no-repeat center/contain;
  position: absolute;
  top: -270px;
  right: 26%;
}
@media only screen and (max-width: 992px) {
  .hero__inner::before {
    width: 100px;
    height: 100px;
    top: -100px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__inner::before {
    top: auto;
    bottom: 60%;
    right: 0;
  }
}
.hero__inner::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/silindr.svg") no-repeat center/contain;
  position: absolute;
  bottom: -170px;
  left: -100px;
}
@media only screen and (max-width: 1240px) {
  .hero__inner::after {
    left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .hero__inner::after {
    bottom: -100px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__inner::after {
    width: 70px;
    height: 70px;
    bottom: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .hero__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .hero__inner {
    text-align: center;
  }
}

.hero__content {
  background: url("../images/hero-lighten-bg.svg") no-repeat 0/contain;
  max-width: 650px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .hero__content {
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content {
    max-width: 100%;
  }
}

.hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2%;
  margin-top: 0;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1240px) {
  .hero__title {
    font-size: 65px;
  }
}
@media only screen and (max-width: 992px) {
  .hero__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

.hero__desc {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 70px;
}
@media only screen and (max-width: 1240px) {
  .hero__desc {
    font-size: 22px;
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__desc {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .hero__desc {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

.hero__image {
  max-width: 500px;
  position: absolute;
  top: -150px;
  right: -60px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1240px) {
  .hero__image {
    max-width: 450px;
    right: 0;
  }
}
@media only screen and (max-width: 992px) {
  .hero__image {
    top: -120px;
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__image {
    top: 0;
    position: static;
  }
}
@media only screen and (max-width: 576px) {
  .hero__image {
    max-width: 300px;
  }
}

.player {
  padding-top: 250px;
}
@media only screen and (max-width: 992px) {
  .player {
    padding-top: 170px;
  }
}
@media only screen and (max-width: 768px) {
  .player {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 576px) {
  .player {
    padding-top: 80px;
  }
}

.player__inner {
  position: relative;
}

.player__toggler {
  --black: #fff;
  display: inline-block;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  background: url("../images/icon-play.svg") no-repeat center/contain;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}
.player__toggler--pause {
  background-image: url("../../images/icon-pause.svg");
}
@media only screen and (max-width: 768px) {
  .player__toggler {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (max-width: 576px) {
  .player__toggler {
    width: 35px;
    height: 35px;
  }
}

.player__video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .player__video {
    border-radius: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .player__video {
    border-radius: 10px;
  }
}

.about {
  padding-top: 350px;
}
@media only screen and (max-width: 1240px) {
  .about {
    padding-top: 320px;
  }
}
@media only screen and (max-width: 992px) {
  .about {
    padding-top: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding-top: 275px;
  }
}

.about__inner {
  background-color: var(--blue);
  border-radius: 20px;
  padding: 126px 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about__inner::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url("../images/triangle.svg") no-repeat center/contain;
  position: absolute;
  top: -200px;
  left: 32%;
}
@media only screen and (max-width: 768px) {
  .about__inner::after {
    width: 100px;
    height: 100px;
    top: -270px;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .about__inner {
    flex-direction: column-reverse;
    padding: 390px 32px 80px 32px;
  }
}
@media only screen and (max-width: 576px) {
  .about__inner {
    padding: 360px 22px 50px 22px;
  }
}
@media only screen and (max-width: 390px) {
  .about__inner {
    padding: 360px 10px 30px 10px;
  }
}

.about__content {
  color: var(--white);
  max-width: 540px;
  width: 100%;
}
@media only screen and (max-width: 1240px) {
  .about__content {
    max-width: 480px;
  }
}
@media only screen and (max-width: 992px) {
  .about__content {
    max-width: 370px;
  }
}
@media only screen and (max-width: 768px) {
  .about__content {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .about__content {
    text-align: center;
  }
}

.about__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1%;
  margin-top: 0;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1240px) {
  .about__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 992px) {
  .about__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .about__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.about__desc {
  margin: 0;
}
@media only screen and (max-width: 992px) {
  .about__desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .about__desc {
    font-size: 18px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 576px) {
  .about__desc {
    font-size: 16px;
  }
}

.about__img {
  max-width: 495px;
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: -100px;
}
@media only screen and (max-width: 1240px) {
  .about__img {
    max-width: 455px;
  }
}
@media only screen and (max-width: 992px) {
  .about__img {
    max-width: 405px;
    bottom: -60px;
  }
}
@media only screen and (max-width: 768px) {
  .about__img {
    max-width: 390px;
    bottom: auto;
    top: -30%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 576px) {
  .about__img {
    max-width: 350px;
  }
}

.features {
  padding-top: 220px;
}
@media only screen and (max-width: 1240px) {
  .features {
    padding-top: 190px;
  }
}
@media only screen and (max-width: 992px) {
  .features {
    padding-top: 140px;
  }
}
@media only screen and (max-width: 768px) {
  .features {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 576px) {
  .features {
    padding-top: 70px;
  }
}

.features__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.features__inner::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/pattern.svg") no-repeat center/contain;
  position: absolute;
  bottom: 0;
  left: 10px;
  transform: translateY(70%);
}
@media only screen and (max-width: 768px) {
  .features__inner::after {
    width: 50px;
    height: 50px;
    top: -60px;
    right: 0;
    bottom: auto;
    left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .features__inner {
    flex-direction: column;
  }
}

.features__img {
  max-width: 600px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1360px) {
  .features__img {
    max-width: 570px;
  }
}
@media only screen and (max-width: 1240px) {
  .features__img {
    max-width: 430px;
  }
}
@media only screen and (max-width: 992px) {
  .features__img {
    max-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .features__img {
    margin-bottom: 40px;
  }
}

.features__content {
  position: absolute;
  max-width: 600px;
  width: 100%;
  right: -90px;
  background: url("../../images/hero-lighten-bg.svg") no-repeat center/480px;
}
@media only screen and (max-width: 1360px) {
  .features__content {
    right: 0;
  }
}
@media only screen and (max-width: 1240px) {
  .features__content {
    position: static;
  }
}
@media only screen and (max-width: 768px) {
  .features__content {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .features__content {
    text-align: center;
  }
}

.features__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: -1%;
}
@media only screen and (max-width: 1240px) {
  .features__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 992px) {
  .features__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .features__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.features__desc {
  margin: 0;
  max-width: 540px;
}
@media only screen and (max-width: 992px) {
  .features__desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .features__desc {
    font-size: 18px;
    font-weight: 400;
    max-width: none;
  }
}
@media only screen and (max-width: 576px) {
  .features__desc {
    font-size: 16px;
  }
}

.payment {
  padding-top: 360px;
}
@media only screen and (max-width: 1240px) {
  .payment {
    padding-top: 300px;
  }
}
@media only screen and (max-width: 992px) {
  .payment {
    padding-top: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .payment {
    padding-top: 230px;
  }
}

.payment__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  position: relative;
  border-radius: 20px;
  padding: 110px 61px;
}
.payment__inner::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 90px;
  background: url("../images/star.svg") no-repeat center/contain;
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: translateY(170%);
}
@media only screen and (max-width: 768px) {
  .payment__inner::after {
    width: 75px;
    height: 75px;
    right: auto;
    left: 0;
  }
}
@media only screen and (max-width: 576px) {
  .payment__inner::after {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .payment__inner {
    flex-direction: column-reverse;
    padding: 390px 32px 80px 32px;
  }
}
@media only screen and (max-width: 576px) {
  .payment__inner {
    padding: 360px 22px 50px 22px;
  }
}
@media only screen and (max-width: 390px) {
  .payment__inner {
    padding: 360px 10px 30px 10px;
  }
}

.payment__conent {
  max-width: 540px;
  width: 100%;
}
@media only screen and (max-width: 1240px) {
  .payment__conent {
    max-width: 480px;
  }
}
@media only screen and (max-width: 992px) {
  .payment__conent {
    max-width: 370px;
  }
}
@media only screen and (max-width: 768px) {
  .payment__conent {
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .payment__conent {
    text-align: center;
  }
}

.payment__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1240px) {
  .payment__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 992px) {
  .payment__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .payment__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .payment__desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .payment__desc {
    font-size: 18px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 576px) {
  .payment__desc {
    font-size: 16px;
  }
}

.payment__img {
  max-width: 412px;
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: -100px;
}
@media only screen and (max-width: 1240px) {
  .payment__img {
    max-width: 390px;
  }
}
@media only screen and (max-width: 992px) {
  .payment__img {
    max-width: 320px;
    bottom: -60px;
  }
}
@media only screen and (max-width: 768px) {
  .payment__img {
    max-width: 290px;
    bottom: auto;
    top: -30%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 576px) {
  .payment__img {
    max-width: 270px;
  }
}

.download {
  padding-top: 245px;
}

.download__inner {
  display: flex;
  align-items: center;
  gap: 35px;
  background-color: var(--lighter-gray);
  border-radius: 20px;
  padding: 0 60px;
}
@media only screen and (max-width: 768px) {
  .download__inner {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .download__img-wrapper {
    height: 246px;
    background-color: var(--lighter-gray);
    border-radius: 20px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 20px;
  }
}

.download__img {
  max-width: 394px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 992px) {
  .download__img {
    max-width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  .download__img {
    max-width: 320px;
    position: absolute;
    bottom: 0;
  }
}

.download__info {
  max-width: 540px;
}
.download__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1240px) {
  .download__title {
    font-size: 36px;
    margin-bottom: 44px;
  }
}
@media only screen and (max-width: 992px) {
  .download__title {
    font-size: 30px;
    margin-bottom: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .download__title {
    font-size: 26px;
    margin-bottom: 32px;
  }
}

.download__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.download__link {
  display: inline-flex;
  text-decoration: none;
}

.download__link-img {
  max-width: 162px;
  width: 100%;
  height: auto;
}

/* FOOTER */
.site-footer {
  padding: 64px 0;
  position: relative;
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .site-footer__container {
    flex-wrap: wrap;
  }
}

.site-footer__info {
  flex-grow: 1;
  margin-right: 20px;
}

.site-footer__logo {
  margin-bottom: 45px;
}
@media only screen and (max-width: 768px) {
  .site-footer__logo {
    margin-bottom: 0;
  }
}

.site-footer__copyright {
  font-size: 14px;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .site-footer__copyright {
    position: absolute;
    bottom: 10px;
  }
}

/* FOOTER NAV */
.site-footer__nav {
  flex-grow: 1;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  .site-footer__nav {
    width: 100%;
    display: block;
    order: 1;
    flex-grow: 0;
  }
}

.site-footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.site-footer__link {
  text-decoration: none;
  font-size: 16px;
  color: var(--black);
}

/* FOOTER CONTACT */
.contact-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .contact-footer {
    flex-direction: column-reverse;
    flex-grow: 0;
  }
}

.contact-footer__phone {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .contact-footer__phone {
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.contact-footer__phone-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contact-footer__phone-inner {
  display: flex;
  flex-direction: column;
}

.contact-footer__phone-label {
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 4px;
}

.contact-footer__phone-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: var(--black);
}

.contact-footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .contact-footer__socials {
    margin-bottom: 39px;
    justify-content: flex-end;
  }
}

.contact-footer__social {
  display: inline-flex;
  border-radius: 50%;
}

.contact-footer__social-link {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */