.about {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 360px;
  padding: 126px 27px 126px 80px;
  background-color: $blue;
  color: $white;
  font-family: "SF Pro Display";
  position: relative;
  border-radius: 20px;

  &::before {
    content: "";
    background: url(../../images/abstract-hero.png) no-repeat center;
    width: 160px;
    height: 160px;
    position: absolute;
    background-size: contain;
    top: -150px;
    left: 260px;
    display: inline-block;

    @media only screen and (max-width: $tablet) {
      width: 100px;
      height: 100px;
      top: -130px;
      left: 30px;
    }

    @media only screen and (max-width: $mobile) {
      width: 50px;
      height: 50px;
      left: 10px;
    }
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 110px 12px 110px 60px;
  }

  @media only screen and (max-width: $tablet) {
    flex-direction: column-reverse;
    padding: 0px 40px 40px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 0px 15px 30px;
  }

  &-content {
    width: 55%;

    @media only screen and (max-width: $tablet-l) {
      width: 48%;
    }

    @media only screen and (max-width: $tablet) {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 40px;
      line-height: 50px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 32px;
      line-height: 44px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-top: 30px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &-image {
    width: 100%;
  }

  &__img {
    position: absolute;
    top: -170px;
    right: -15px;
    max-width: 470px;

    @media only screen and (max-width: $tablet-l) {
      max-width: 440px;
    }

    @media only screen and (max-width: $tablet) {
      position: static;
      max-width: none;
      width: 100%;
      transform: translateY(-200px);
    }

    @media only screen and (max-width: $mobile) {
      transform: translateY(-100px);
    }
  }
}
