.about {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 360px;
  padding: 126px 27px 126px 80px;
  background-color: $blue;
  color: $white;
  font-family: "SF Pro Display";
  position: relative;
  border-radius: 20px;

  @media only screen and (max-width: $tablet-l) {
    padding: 110px 12px 110px 60px;
  }

  &-content {
    width: 55%;

    @media only screen and (max-width: $tablet-l) {
      width: 48%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 40px;
      line-height: 50px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 32px;
      line-height: 44px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-top: 30px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__img {
    position: absolute;
    top: -170px;
    right: -15px;
    max-width: 470px;

    @media only screen and (max-width: $tablet-l) {
      max-width: 440px;
    }
  }
}
