// Fonts
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

// General styles
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  font-family: "SF Pro Display";
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display";
  background: url(../../images/desktop-line.png) no-repeat center;
  height: 100vh;
  overflow-x: hidden;

  @media only screen and (max-width: $mobile) {
    background: url(../../images/line-mobile.png) no-repeat center;
  }
}

.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 15px;
}
