// Fonts
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"),
    url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"),
    url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
}

// General styles
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  font-family: "SF Pro Display";
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-offset: 3px;
  outline: 2px dotted $black;
}

body {
  font-family: "SF Pro Display";
  background: url(../../images/desktop-line.png) no-repeat center;
  height: 200vh;
  overflow-x: hidden;

  @media only screen and (max-width: $mobile) {
    background: url(../../images/line-mobile.png) no-repeat center;
  }
}

.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 15px;
}
