/* HERO */
.hero {
  &::after {
    content: "";
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url("../images/star.svg") no-repeat center / contain;
    position: absolute;
    bottom: 50px;
    right: 15%;

    @media only screen and (max-width: $tablet-l) {
      right: 30px;
      width: 75px;
      height: 75px;
    }

    @media only screen and (max-width: $tablet) {
      right: 0;
      width: 50px;
      height: 50px;
    }
  }
}

.hero__inner {
  display: flex;
  align-items: flex-start;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("../images/triangle.svg") no-repeat center / contain;
    position: absolute;
    top: -210px;
    right: 26%;

    @media only screen and (max-width: $tablet-l) {
      width: 100px;
      height: 100px;
      top: -100px;
    }
    
    @media only screen and (max-width: $tablet) {
      top: auto;
      bottom: 60%;
      right: 0;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("../images/silindr.svg") no-repeat center / contain;
    position: absolute;
    bottom: 0;
    left: -100px;

    @media only screen and (max-width: $desktop) {
     left: 0;
    }

    @media only screen and (max-width: $tablet-l) {
      bottom: -50px;
    }
  
    @media only screen and (max-width: $tablet) {
      width: 70px;
      height: 70px;
      bottom: 50%;
    }
  }

  @media only screen and (max-width: $tablet) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media only screen and (max-width: $mobile) {
    text-align: center;
  }
}

.hero__content {
  background: url("../images/hero-lighten-bg.svg") no-repeat 0 / contain;
  max-width: 650px;
  width: 100%;

  @media only screen and (max-width: $tablet-l) {
    max-width: 400px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 100%;
  }
}

.hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2%;
  margin-top: 0;
  margin-bottom: 24px;

  @media only screen and (max-width: $desktop) {
    font-size: 65px;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 50px;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 40px;
    margin-bottom: 16px;
  }
}

.hero__desc {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 70px;

  @media only screen and (max-width: $desktop) {
    font-size: 22px;
    margin-bottom: 55px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 20px;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

.hero__image {
  max-width: 500px;
  position: absolute;
  top: -150px;
  right: -60px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: $desktop) {
    max-width: 450px;
    right: 0;
  }

  @media only screen and (max-width: $tablet-l) {
    top: -120px;
    max-width: 400px;
  }
  
  @media only screen and (max-width: $tablet) {
    top: 0;
    position: static;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 300px;
  }
}
