.player {
  padding-top: 250px;

  @media only screen and (max-width: $tablet-l) {
    padding-top: 170px;
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 120px;
  }

  @media only screen and (max-width: $mobile) {
    padding-top: 80px;
  }
}

.player__inner {
  position: relative;
}

.player__toggler {
  --black: #fff;
  display: inline-block;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  background: url("../images/icon-play.svg") no-repeat center / contain;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &--pause {
    background-image: url("../../images/icon-pause.svg");
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  @media only screen and (max-width: $tablet) {
    width: 45px;
    height: 45px;
  }

  @media only screen and (max-width: $mobile) {
    width: 35px;
    height: 35px;
  }
}

.player__video {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;

  @media only screen and (max-width: $tablet) {
    border-radius: 15px;
  }

  @media only screen and (max-width: $mobile) {
    border-radius: 10px;
  }
}
